In [1]:
import pandas as pd
import numpy  as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("datasets/AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
df.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [6]:
target = df['price']
df = df.drop(['price'],axis=1)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,9,2018-11-19,0.10,1,0

In [7]:
categ = ['neighbourhood_group', 'neighbourhood', 'room_type', 'host_name']

calculated_host_listings_count - represents total number of listings made by a specific host. (популярность хоста)

In [8]:
df['last_review'] = pd.to_datetime(df['last_review'], format='mixed', errors='coerce')

In [9]:
df['last_review'].isna().sum() # нет отзывов

10052

In [10]:
df[df['last_review'].isna()]['number_of_reviews'].unique() # проверка

array([0], dtype=int64)

In [11]:
df['year'] = df['last_review'].dt.year.astype('Int32')
df['month'] = df['last_review'].dt.month.astype('Int32')
df['day'] = df['last_review'].dt.day.astype('Int32')

In [12]:
df['year'] = df['year'].fillna(0)
df['month'] = df['month'].fillna(0)
df['day'] = df['day'].fillna(0)
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [13]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,6,365,2018,10,19
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,45,2019-05-21,0.38,2,355,2019,5,21
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,3,0,NaT,0.00,1,365,0,0,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,2019-07-05,4.64,1,194,2019,7,5
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,9,2018-11-19,0.10,1,0,2018,11,19

In [14]:
df.drop(['host_id', 'last_review', 'id', 'name', 'host_name'], axis=1, inplace=True)

In [15]:
df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,0.21,6,365,2018,10,19
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,45,0.38,2,355,2019,5,21
2,Manhattan,Harlem,40.80902,-73.94190,Private room,3,0,0.00,1,365,0,0,0
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,270,4.64,1,194,2019,7,5
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,9,0.10,1,0,2018,11,19

In [16]:
df = pd.get_dummies(df, columns=['neighbourhood_group', 'room_type'], drop_first=True)

In [17]:
df.head()

,neighbourhood,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Private room,room_type_Shared room
0,Kensington,40.64749,-73.97237,1,9,0.21,6,365,2018,10,19,True,False,False,False,True,False
1,Midtown,40.75362,-73.98377,1,45,0.38,2,355,2019,5,21,False,True,False,False,False,False
2,Harlem,40.80902,-73.94190,3,0,0.00,1,365,0,0,0,False,True,False,False,True,False
3,Clinton Hill,40.68514,-73.95976,1,270,4.64,1,194,2019,7,5,True,False,False,False,False,False
4,East Harlem,40.79851,-73.94399,10,9,0.10,1,0,2018,11,19,False,True,False,False,False,False

In [18]:
# меняем neighbourhood на частоту его появления 
df['neighbourhood'] = df.groupby('neighbourhood')['neighbourhood'].transform('count')
df.drop('neighbourhood', axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   latitude                           48895 non-null  float64
 1   longitude                          48895 non-null  float64
 2   minimum_nights                     48895 non-null  int64
 3   number_of_reviews                  48895 non-null  int64
 4   reviews_per_month                  48895 non-null  float64
 5   calculated_host_listings_count     48895 non-null  int64
 6   availability_365                   48895 non-null  int64
 7   year                               48895 non-null  Int32
 8   month                              48895 non-null  Int32
 9   day                                48895 non-null  Int32
 10  neighbourhood_group_Brooklyn       48895 non-null  bool
 11  neighbourhood_group_Manhattan      48895 non-null  bool
 12  neighbourhood_group_Queens         48895 non-null  bool
 13  neighbourhood_group_Staten Island  48895 non-null  bool
 14  room_type_Private room             48895 non-null  bool
 15  room_type_Shared room              48895 non-null  bool
dtypes: Int32(3), bool(6), float64(3), int64(4)
memory usage: 3.6 MB

In [20]:
df.head()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,year,month,day,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Private room,room_type_Shared room
0,40.64749,-73.97237,1,9,0.21,6,365,2018,10,19,True,False,False,False,True,False
1,40.75362,-73.98377,1,45,0.38,2,355,2019,5,21,False,True,False,False,False,False
2,40.80902,-73.94190,3,0,0.00,1,365,0,0,0,False,True,False,False,True,False
3,40.68514,-73.95976,1,270,4.64,1,194,2019,7,5,True,False,False,False,False,False
4,40.79851,-73.94399,10,9,0.10,1,0,2018,11,19,False,True,False,False,False,False

In [22]:
df.isna().sum()

latitude                             0
longitude                            0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
year                                 0
month                                0
day                                  0
neighbourhood_group_Brooklyn         0
neighbourhood_group_Manhattan        0
neighbourhood_group_Queens           0
neighbourhood_group_Staten Island    0
room_type_Private room               0
room_type_Shared room                0
dtype: int64

In [23]:
cont = [
    'latitude', 'longitude', 'reviews_per_month',
    'minimum_nights', 'number_of_reviews', 
    'calculated_host_listings_count', 'availability_365', 'host_freq'
]